@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap");

:root {
  --main-color: #2980b9;
  --black: #444;
  --light-bg: #eee;
  --bg: #fff;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
body {
  background: var(--light-bg);
}
